@{
    ViewData["Title"] = "Reservation Success";
}

<h1>Book Reservation Success</h1>
<p>Awesome @ViewData["customerName"]! Your reservation for <em>"@ViewData["bookName"]"</em> was successful.</p>
<p> Your booking number is: <strong>@ViewData["bookingNumber"]</strong></p>
<p><strong>@ViewData["reason"]</strong></p>